.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 350px;
}

.card-image {
  background-image: url("./images/image-product-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  margin-bottom: 30px;
}

.card-details {
  text-align: center;
}

.card-details h2 {
  color: #48556a;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.card-details p {
  color: #a0a8b8;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.card-button {
  background-color: #f46262;
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 15px 60px;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
}

.card-button:hover {
  background-color: #f9a3a3;
}
